input {
  border-radius: 0 !important;
}

.input:focus,
.form-control:focus {
  box-shadow: none !important;
  border-color: #0056b3 !important;
}

.Select,
.Select--multi,
.Select-control {
  box-shadow: none !important;
  border-radius: 0px !important;
}

h5 {
  color: #303c51 !important;
  font-size: 18px !important;
}

.Select--multi .Select-value {
  background-color: rgba(179, 210, 0, 0.7) !important;
  border: 1px solid rgba(48, 60, 81, 0.24) !important;
  color: #2C2C2C !important;
}

.img-preview {
  width: 100%;
}

.dropzone {
  border: 1px dashed #000;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 150px;
  padding: 50px 0px;
  cursor: pointer;
}

.img-header {
  display: block;
  margin-bottom: 10px;
}
