.grandParentContaniner {
    display: table;
    height: 100vh;
    margin: 0 auto;
}

.parentContainer {
    display: table-cell;
    vertical-align: middle;
}

.loginGrandParentContaniner {
    display: table;
    height: 100vh;
    margin: 0 auto;
}

.loginParentContainer {
    display: table-cell;
    vertical-align: middle;
}