.react-bs-table-bordered {
  border-radius: 0;
  margin: 30px 0 15px 0;
}

th {
  background: #edf4f4;
  color: #333333;
  border-bottom: none !important;
}

.searchfield,
.crud-btn {
  border-radius: 0 !important;
}

.searchfield:focus {
  box-shadow: none !important;
  border-color: #0056b3 !important;
}

.crud-btn {
  margin-right: 7.5px;
  background: #b3d200 !important;
  border: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.crud-btn:hover {
  background: #0056b3 !important;
}

.crud-btn:disabled {
  background: #DDDDDD !important;
}

.crud-btn:disabled:hover {
  background: #DDDDD  !important;
  cursor: not-allowed;
}

.react-bs-table table td, .react-bs-table table th {
  white-space: normal;
}

.starImg {
  width: 100%;
}

.clientTable .react-bs-table table td,
.clientTable .react-bs-table table th,
.clientTable .react-bs-container-body {
  overflow: visible !important;
}

.tooltip_wrapper div > div {
  background: #303c51;
  color: #fff;
  border-radius: 0;
  border: none;
  font-size: 12px;
  font-family: inherit;
}

.warning_icon {
  width: 30px;
}
